data/SOS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:om="http://www.opengis.net/om/1.0" xmlns:sml="http://www.opengis.net/sensorML/1.0.1" xmlns:ows="http://www.opengis.net/ows/1.1" xmlns:gml="http://www.opengis.net/gml" xmlns:sos="http://www.opengis.net/sos/1.0" xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://www.opengis.net/sos/1.0" xsi:schemaLocation="http://schemas.xmlsoap.org/wsdl/ http://schemas.xmlsoap.org/wsdl/2003-02-11.xsd
                          http://schemas.xmlsoap.org/wsdl/soap/ http://schemas.xmlsoap.org/wsdl/soap/2003-02-11.xsd">
	<wsdl:documentation xmlns:dc="http://purl.org/dc/elements/1.1/"><dc:identifier>urn:opengis:spec:sos:wsdl-1.1</dc:identifier><dc:date>2009-02-04</dc:date><dc:description>
        This is the the normative abstract service interface definition for the 
        Sensor Observation Service, v1.0 (OGC-06-009r6). The WSDL 1.1 syntax is 
        used to describe the interface signatures and message structures.
        </dc:description></wsdl:documentation>
	<wsdl:types>
		<wsdl:documentation>
        Wrapper schema for WFS message elements.
        </wsdl:documentation>
		<xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" xmlns:sos="http://www.opengis.net/sos/1.0" targetNamespace="http://www.opengis.net/sos/1.0">
			
            <xsd:include schemaLocation="http://schemas.opengis.net/sos/1.0.0/sosAll.xsd" />
            <xsd:import namespace="http://www.opengis.net/om/1.0" schemaLocation="http://schemas.opengis.net/om/1.0.0/om.xsd" />
            <xsd:import namespace="http://www.opengis.net/sensorML/1.0.1" schemaLocation="http://schemas.opengis.net/sensorML/1.0.1/sensorML.xsd" />
            <xsd:import namespace="http://www.opengis.net/ows/1.1" schemaLocation="http://schemas.opengis.net/ows/1.1.0/owsAll.xsd" />
            <xsd:import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd" />
			
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="GetCapabilitiesRequest">
		<wsdl:part name="request" element="sos:GetCapabilities"/>
	</wsdl:message>
	<wsdl:message name="GetCapabilitiesRequest-RPC">
		<wsdl:part name="REQUEST" type="xsd:string"/>
		<wsdl:part name="SERVICE" type="xsd:string"/>
		<wsdl:part name="VERSION" type="xsd:string"/>
	</wsdl:message>
	<wsdl:message name="GetCapabilitiesResponse">
		<wsdl:part name="response" element="sos:Capabilities"/>
	</wsdl:message>
	<wsdl:message name="DescribeSensorRequest">
		<wsdl:part name="request" element="sos:DescribeSensor"/>
	</wsdl:message>
	<wsdl:message name="DescribeSensorResponse">
		<wsdl:part name="response" element="sml:SensorML"/>
	</wsdl:message>
	<wsdl:message name="GetObservationRequest">
		<wsdl:part name="request" element="sos:GetObservation"/>
	</wsdl:message>
	<wsdl:message name="GetObservationResponse">
		<wsdl:part name="response" element="om:Observation"/>
	</wsdl:message>
	<wsdl:message name="RegisterSensorRequest">
		<wsdl:part name="request" element="sos:RegisterSensor"/>
	</wsdl:message>
	<wsdl:message name="RegisterSensorResponse">
		<wsdl:part name="response" element="sos:RegisterSensorResponse"/>
	</wsdl:message>
	<wsdl:message name="InsertObservationRequest">
		<wsdl:part name="request" element="sos:InsertObservation"/>
	</wsdl:message>
	<wsdl:message name="InsertObservationResponse">
		<wsdl:part name="response" element="sos:InsertObservationResponse"/>
	</wsdl:message>
	<wsdl:message name="GetFeatureOfInterestRequest">
		<wsdl:part name="request" element="sos:GetFeatureOfInterest"/>
	</wsdl:message>
	<wsdl:message name="GetFeatureOfInterestResponse">
		<wsdl:part name="response" element="gml:_Feature"/>
	</wsdl:message>
	<wsdl:message name="GetFeatureOfInterestTimeRequest">
		<wsdl:part name="request" element="sos:GetFeatureOfInterestTime"/>
	</wsdl:message>
	<wsdl:message name="GetFeatureOfInterestTimeResponse">
		<wsdl:part name="response" element="gml:_TimeGeometricPrimitive"/>
	</wsdl:message>
	<wsdl:message name="ServiceException">
		<wsdl:part name="exception" element="ows:ExceptionReport"/>
	</wsdl:message>
	<wsdl:portType name="sosPortType">
		<wsdl:operation name="GetCapabilities">
			<wsdl:input name="GetCapabilitiesInput" message="sos:GetCapabilitiesRequest"/>
			<wsdl:output name="GetCapabilitiesOutput" message="sos:GetCapabilitiesResponse"/>
			<wsdl:fault name="ExceptionReport" message="ows:ExceptionReport"/>
		</wsdl:operation>
		<wsdl:operation name="GetCapabilities-RPC">
			<wsdl:input name="GetCapabilitiesInput-RPC" message="sos:GetCapabilitiesRequest-RPC"/>
			<wsdl:output name="GetCapabilitiesOutput-RPC" message="sos:GetCapabilitiesResponse"/>
			<wsdl:fault name="ExceptionReport" message="ows:ExceptionReport"/>
		</wsdl:operation>
		<wsdl:operation name="DescribeSensor">
			<wsdl:input name="DescribeSensorInput" message="sos:DescribeSensorRequest"/>
			<wsdl:output name="DescribeSensorOutput" message="sos:DescribeSensorResponse"/>
			<wsdl:fault name="ExceptionReport" message="ows:ExceptionReport"/>
		</wsdl:operation>
		<wsdl:operation name="GetObservation">
			<wsdl:input name="GetObservationInput" message="sos:GetObservationRequest"/>
			<wsdl:output name="GetObservationOutput" message="sos:GetObservationResponse"/>
			<wsdl:fault name="ExceptionReport" message="ows:ExceptionReport"/>
		</wsdl:operation>
		<wsdl:operation name="RegisterSensor">
			<wsdl:input name="RegisterSensorInput" message="sos:RegisterSensorRequest"/>
			<wsdl:output name="RegisterSensorOutput" message="sos:RegisterSensorResponse"/>
			<wsdl:fault name="ExceptionReport" message="ows:ExceptionReport"/>
		</wsdl:operation>
		<wsdl:operation name="InsertObservation">
			<wsdl:input name="InsertObservationInput" message="sos:InsertObservationRequest"/>
			<wsdl:output name="InsertObservationOutput" message="sos:InsertObservationResponse"/>
			<wsdl:fault name="ExceptionReport" message="ows:ExceptionReport"/>
		</wsdl:operation>
		<wsdl:operation name="GetFeatureOfInterest">
			<wsdl:input name="GetFeatureOfInterestInput" message="sos:GetFeatureOfInterestRequest"/>
			<wsdl:output name="GetFeatureOfInterestOutput" message="sos:GetFeatureOfInterestResponse"/>
			<wsdl:fault name="ExceptionReport" message="ows:ExceptionReport"/>
		</wsdl:operation>
		<wsdl:operation name="GetFeatureOfInterestTime">
			<wsdl:input name="GetFeatureOfInterestTimeInput" message="sos:GetFeatureOfInterestTimeRequest"/>
			<wsdl:output name="GetFeatureOfInterestTimeOutput" message="sos:GetFeatureOfInterestTimeResponse"/>
			<wsdl:fault name="ExceptionReport" message="ows:ExceptionReport"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SosSoapBinding" type="sos:sosPortType">
		<wsdl:documentation> SOS interface bound to SOAP over HTTP/1.1. </wsdl:documentation>
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetCapabilities">
			<soap:operation soapAction="http://www.opengis.net/sos/requests#GetCapabilities"/>
			<wsdl:input name="GetCapabilitiesInput">
				<soap:body parts="request" use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetCapabilitiesOutput">
				<soap:body parts="response" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ExceptionReport">
				<soap:fault name="ExceptionReport" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="DescribeSensor">
			<soap:operation soapAction="http://www.opengis.net/sos/requests#DescribeSensor"/>
			<wsdl:input name="DescribeSensorInput">
				<soap:body parts="request" use="literal"/>
			</wsdl:input>
			<wsdl:output name="DescribeSensorOutput">
				<soap:body parts="response" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ExceptionReport">
				<soap:fault name="ExceptionReport" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetObservation">
			<soap:operation soapAction="http://www.opengis.net/sos/requests#GetObservation"/>
			<wsdl:input name="GetObservationInput">
				<soap:body parts="request" use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetObservationOutput">
				<soap:body parts="response" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ExceptionReport">
				<soap:fault name="ExceptionReport" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="RegisterSensor">
			<soap:operation soapAction="http://www.opengis.net/sos/requests#RegisterSensor"/>
			<wsdl:input name="RegisterSensorInput">
				<soap:body parts="request" use="literal"/>
			</wsdl:input>
			<wsdl:output name="RegisterSensorOutput">
				<soap:body parts="response" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ExceptionReport">
				<soap:fault name="ExceptionReport" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="InsertObservation">
			<soap:operation soapAction="http://www.opengis.net/sos/requests#InsertObservation"/>
			<wsdl:input name="InsertObservationInput">
				<soap:body parts="request" use="literal"/>
			</wsdl:input>
			<wsdl:output name="InsertObservationOutput">
				<soap:body parts="response" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ExceptionReport">
				<soap:fault name="ExceptionReport" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetFeatureOfInterest">
			<soap:operation soapAction="http://www.opengis.net/sos/requests#GetFeatureOfInterest"/>
			<wsdl:input name="GetFeatureOfInterestInput">
				<soap:body parts="request" use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetFeatureOfInterestOutput">
				<soap:body parts="response" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ExceptionReport">
				<soap:fault name="ExceptionReport" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetFeatureOfInterestTime">
			<soap:operation soapAction="http://www.opengis.net/sos/requests#GetFeatureOfInterestTime"/>
			<wsdl:input name="GetFeatureOfInterestTimeInput">
				<soap:body parts="request" use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetFeatureOfInterestTimeOutput">
				<soap:body parts="response" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ExceptionReport">
				<soap:fault name="ExceptionReport" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="SosHttpGetBinding" type="sos:sosPortType">
		<wsdl:documentation> SOS interface bound to HTTP/1.1 GET. </wsdl:documentation>
		<http:binding verb="GET"/>
		<wsdl:operation name="GetCapabilities-RPC">
			<http:operation location="?REQUEST=GetCapabilities"/>
			<wsdl:input name="GetCapabilitiesInput-RPC">
				<http:urlEncoded/>
			</wsdl:input>
			<wsdl:output name="GetCapabilitiesOutput-RPC"/>
			<wsdl:fault name="ExceptionReport">
				<soap:fault name="ExceptionReport" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="SosHttpPostBinding" type="sos:sosPortType">
		<wsdl:documentation> SOS interface bound to HTTP/1.1 POST. </wsdl:documentation>
		<http:binding verb="POST"/>
		<wsdl:operation name="GetCapabilities">
			<http:operation location="/"/>
			<wsdl:input name="GetCapabilitiesInput"/>
			<wsdl:output name="GetCapabilitiesOutput"/>
			<wsdl:fault name="ExceptionReport">
				<soap:fault name="ExceptionReport" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="DescribeSensor">
			<http:operation location="/"/>
			<wsdl:input name="DescribeSensorInput"/>
			<wsdl:output name="DescribeSensorOutput"/>
			<wsdl:fault name="ExceptionReport">
				<soap:fault name="ExceptionReport" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetObservation">
			<http:operation location="/"/>
			<wsdl:input name="GetObservationInput"/>
			<wsdl:output name="GetObservationOutput"/>
			<wsdl:fault name="ExceptionReport">
				<soap:fault name="ExceptionReport" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="RegisterSensor">
			<http:operation location="/"/>
			<wsdl:input name="RegisterSensorInput"/>
			<wsdl:output name="RegisterSensorOutput"/>
			<wsdl:fault name="ExceptionReport">
				<soap:fault name="ExceptionReport" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="InsertObservation">
			<http:operation location="/"/>
			<wsdl:input name="InsertObservationInput"/>
			<wsdl:output name="InsertObservationOutput"/>
			<wsdl:fault name="ExceptionReport">
				<soap:fault name="ExceptionReport" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetFeatureOfInterest">
			<http:operation location="/"/>
			<wsdl:input name="GetFeatureOfInterestInput"/>
			<wsdl:output name="GetFeatureOfInterestOutput"/>
			<wsdl:fault name="ExceptionReport">
				<soap:fault name="ExceptionReport" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetFeatureOfInterestTime">
			<http:operation location="/"/>
			<wsdl:input name="GetFeatureOfInterestTimeInput"/>
			<wsdl:output name="GetFeatureOfInterestTimeOutput"/>
			<wsdl:fault name="ExceptionReport">
				<soap:fault name="ExceptionReport" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="WeatherSOS">
		<wsdl:port name="soapWeatherSOS" binding="sos:SosSoapBinding">
			<soap:address location="http://v-swe.uni-muenster.de:8080/WeatherSOS2/sos"/>
		</wsdl:port>
		<wsdl:port name="httpPostWeatherSOS" binding="sos:SosHttpPostBinding">
			<http:address location="http://v-swe.uni-muenster.de:8080/WeatherSOS2/sos"/>
		</wsdl:port>
		<wsdl:port name="httpGetWeatherSOS" binding="sos:SosHttpGetBinding">
			<http:address location="http://v-swe.uni-muenster.de:8080/WeatherSOS2/sos"/>
		</wsdl:port>
	</wsdl:service>
	<!-- MESSAGE TYPE DEFINITIONS -->
	<!-- MESSAGE DEFINITIONS -->
	<!-- PORT TYPE DEFINITIONS -->
	<!-- BINDING DEFINITIONS -->
	<!--SERVICE DEFINITION-->
</wsdl:definitions>
